# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Editor directories
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# dotenv (local secrets)
.env

# Byte-compiled / optimized / DLL files
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
