AGENT_RESOURCE_NAME=projects/YOURGOOGLE_CLOUDPROJECT/locations/YOURLOCATION/reasoningEngines/XXXXXXXX
GOOGLE_CLOUD_PROJECT=YOURGOOGLE_CLOUDPROJECT
GOOGLE_CLOUD_LOCATION=YOURLOCATION  (like us-central1)
PORT=8080
